@import url('https://fonts.googleapis.com/css?family=Kumar+One|Russo+One');

h1{font-family: 'kumar one', cursive;
}
h4{font-family: 'Russo One', sans-serif;
}
body{
	background-color:gold;
}
#album {
background:url("Johnlegend-evolver1.jpg");
margin: 0 auto;
height: 348px;
width: 348px;
position: center center;
}  