@import url('https://fonts.googleapis.com/css?family=Kumar+One|Russo+One');

h1{font-family: 'kumar one', cursive;
}
h4{font-family: 'Russo One', sans-serif;
}
body{
	background-color:gold;
}
#album {
background:url("Johnlegend-evolver1.jpg");
margin: 0 auto;
height: 348px;
width: 348px;
position: center center;
}  
a{
	font-family: monospace;
	font-weight: none;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	background-color: steelblue;
}
table td{
	background-color: olive;
}