@import url('https://fonts.googleapis.com/css?family=Kumar+One|Russo+One');

h1{font-family: 'kumar one', cursive;
}
h4{font-family: 'Russo One', sans-serif;
}
body{
	background-color:gold;
}
 a{
	font-family: monospace;
	font-weight: none;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	background-color: steelblue;
}
.img-circle {
	border-radius: 50%;
}