@import 'https://fonts.googleapis.com/css?family=Engagement|Sofia';
@import url('https://fonts.googleapis.com/css?family=Kumar+One|Russo+One');

h1{font-family: 'kumar one', cursive;
}
th{font-family: 'Sofia', cursive; font-size: 26px
}
td {
font-family: 'Russo One', sans-serif; font-size:18px
}
p {width: 400px; height: 150px;margin: 0 auto;
   font-family: 'Engagement', cursive; font-size: 20px
}
a{
	text-decoration: underline;
	font-family: monospace;
	font-weight: none;
}
a:link{
	color: blue;
}
a:visited{
	color: gold;
}
a:hover{
	font-weight: bold;
}
a:active{
	text-decoration: none;
}